<footer>
  <br><br><br><br>

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/ts/main.ts"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.2/highlight.min.js"></script>

  <script>hljs.initHighlightingOnLoad();</script>
  <!-- Menu Toggle Script -->
  <script>

  </script>

</footer>