<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"> Engineering Physics Lab </div>
    <div class="list-group list-group-flush">
      <a href="index.hbs" class="list-group-item list-group-item-action bg-light">Introduction To Arduino</a>
      <a href="servo.hbs" class="list-group-item list-group-item-action bg-light"><strong>Servo.h</strong> Move a
        Robot</a>
      <a href="ultrasonic.hbs" class="list-group-item list-group-item-action bg-light">Ultrasonic Sensor</a>
      <a href="followwall.hbs" class="list-group-item list-group-item-action bg-light">Follow The Wall</a>
      <a href="challenge.hbs" class="list-group-item list-group-item-action bg-light">Challenge</a>

      <img
        src="https://www.dawsoncollege.qc.ca/communications-office/wp-content/uploads/sites/132/Dawson_Logos_MAIN_01_Web-800x332.png"
        width="200" style="
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 30px;
                    display: block;
                  " />
    </div>
  </div>
  <!-- /#sidebar-wrapper -->