{{!< base}}

<h1 class="mt-4">Challenge!</h1>
  <p>In previous lab activities you practiced basic skills for programming and manipulating
    the robot using the servos and feedback from the ultrasonic sensor. The original in-class challenge was
    to navigate along a wall, perform a turn, navigate along a second wall and pass through a gate as shown below. </p>

    <p >
        <img src="imgs/eng-challenge1.png" alt="Original Challenge" />
    </p>

  <p>You were constrained to keep the servo-powered wheels from touching a tape line and challenged to perform
    the task in the fastest possible time, competing with other teams in the class. Now, in the virtual environment,
    we are giving you a nearly equivalent challenge to the original.
    To prepare you were to develop and test a <a href="followwall.hbs">Follow the Wall</a> strategy. Employ a similar strategy
    to the more complex navigation challenge given.</p>

  <p><em><b>Note</b>: Your final solution should not use a hard-coded strategy. You should be able to modify your code
    for a challenge with different coin distances from the walls. You will be assessed on completion of the task as well as
    the strategy you employed.</em></p>

<div class="alert alert-success" role="alert"
  style="max-width: 600px; margin-left: auto; margin-right:auto; margin-top:50px;">
  <h4 class="alert-heading">Instructions</h4>

  <p>The coins are approximately 110 cm away from the top wall and approximately 70 cm from the right wall.
    Use the data from the ultrasonic sensor to navigate the robot to collect all coins. </p>

</div>
<br><br>

<div class="row" style="margin-bottom: 100px;">
  <div class="col-md-6 app-container" style="height:600px;">
    <p4-arduino-ide-container id="ultrasonic-workshop-ide-container">
      <div class="code-editor" id="ultrasonic-workshop-monaco"></div>
      <div class="compiler-output">
        <pre class="compiler-output-text" id="ultrasonic-compiler-output-text"></pre>
        <pre class="compiler-output-text" id="ultrasonic-serial-output-text"></pre>

      </div>
    </p4-arduino-ide-container>
  </div>
  <div class="col-md-6 text-center" style="min-width:500px; ">


    <canvas class="robot-environment" style="max-height:600px; max-width:600px" id="ultrasonic-world"></canvas>

  </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/loader.js"></script>
<script src="ts/challenge.ts"></script>
