{{!< base}}


<h1 class="mt-4">Lesson One</h1>

<div class="row">
  <div class="col app-container">
    <p4-arduino-ide-container id="ide-container">
      <div class="code-editor"></div>
      <div class="compiler-output">
        <pre id="compiler-output-text"></pre>
        <pre id="serial-output-text"></pre>
      </div>
    </p4-arduino-ide-container>
  </div>
  <div class="col">
    <canvas class="robot-environment" id="world"></canvas>
  </div>
</div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.20.0/min/vs/loader.js"></script>
</div>
<!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<script src="ts/servo-1.ts"></script>